[run]
source = .
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    */site-packages/*
    main.py
    tv_launcher.py
    setup.py
    scripts/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
